{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <h1>Ваш кошик</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Зображення</th>
        <th>Товар</th>
        <th>Кількість</th>
        <th>Видалити</th>
        <th>За одиницю</th>
        <th>Ціна</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Оновити">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url "cart:cart_remove" product.id %}" method="post">
                <input type="submit" value="Видалити">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">{{ item.price }} грн</td>
            <td class="num">{{ item.total_price }} грн</td>
          </tr>
        {% endwith %}
      {% endfor %}
 {% if cart.coupon %}
 <tr class="subtotal">
 <td>Всього</td>
 <td colspan="4"></td>
 <td class="num">{{ cart.get_total_price|floatformat:2 }} грн</td>
 </tr>
 <tr>
 <td>
 "{{ cart.coupon.code }}" купон
 ({{ cart.coupon.discount }}% off)
 </td>
 <td colspan="4"></td>
 <td class="num neg">
 - {{ cart.get_discount|floatformat:2 }} грн
 </td>
 </tr>
{% endif %}
<tr class="total">
 <td>Всього</td>
 <td colspan="4"></td>
 <td class="num">
 {{ cart.get_total_price_after_discount|floatformat:2 }} грн
 </td>
</tr>
    </tbody>
  </table>
<p>Застосувати купон:</p>
<form action="{% url "coupons:apply" %}" method="post">
 {{ coupon_apply_form }}
 <input type="submit" value="Застосувати">
 {% csrf_token %}
</form>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button
    light">Продовжити покупки</a>
    <a style="color: #fff !important;" href="{% url "orders:order_create" %}" class="button">
      Розрахунок
    </a>
  </p>
{% endblock %}
