{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
<div class="container">
  <h1>Про нас</h1>
  <p>
  У сучасному світі онлайн шопінг - це наше все! Багато людей вже давно віддають перевагу, і це не дивно: купити меблі в інтернеті - швидко, зручно і можна навіть не вставати з дивана. У нашому інтернет-магазині ви можете придбати потрібні, необхідні товари відмінної якості та за дуже приємними цінами, без черг, заощаджуючи час та бюджет. DIVANCHIK.UA має широкий асортимент товару, який постійно поповнюється.</p>
    <p>
      Бажаєте купити диван, купити ліжко чи шафу? Легко! <a href="/">DIVANCHIK.UA</a> продовжує завойовувати собі заслужене звання професіоналів своєї справи. Ми завжди раді новим покупцям та сподіваємося, що відвідавши наш магазин, у Вас з'явиться бажання стати постійним покупцем.</p>
</div>
{% endblock %}