{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
<div class="container">
  <h1>Страница "о нас"</h1>
  <p>
  В современном мире, онлайн шоппинг – это наше всё! Множество людей уже давно отдают ему предпочтение,
  и это неудивительно: купить мебель в интернете – быстро, удобно и можно даже не вставать с дивана.
  В нашем интернет-магазине Вы можете приобрести нужные, необходимые товары отличного качества и по
  очень приятным ценам, без очередей, экономя время и бюджет.</p>
    <p>
    У <a href="/">DIVANCHIK.UA</a> широкий ассортимент товара,
  который постоянно пополняется. <a href="/">DIVANCHIK.UA</a> – верный и надежный помощник при выборе. У нас работают опытные,
  отзывчивые менеджеры, которые всегда с радостью помогут и подскажут в любом вопросе. Мы всегда рады помочь
  подобрать товар, определиться с выбором, ответить на все интересующие вопросы и показать, что покупать в нашем
  интернет-магазине — легко, быстро и недорого! </p>
      <p>Желаете купить диван, купить кровать или шкаф? Легко! <a href="/">DIVANCHIK.UA</a>
  продолжает завоевывать себе заслуженное звание профессионалов своего дела. Мы всегда рады новым покупателям
  и надеемся, что посетив наш магазин, у Вас появится желание стать постоянным покупателем.</p>
</div>
{% endblock %}