{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Возврат
{% endblock %}

{% block content %}
<div class="container">
  <h1>Умови повернення</h1>
  <p>
При отриманні товару
Незалежно від обраного Вами способу доставки є кілька обов'язкових дій, які потрібно виконати при отриманні товару перед тим, як поставити підпис прийняття доставки на накладній:    <p>
При получении товара. Вне зависимости от выбранного Вами способа доставки, есть несколько обязательных действий, которые нужно выполнить при получении товара перед тем, как поставить подпись принятия доставки на накладной</p>
    <ul>
        <li> Присутня під час приймання товару особисто або передати таке право своєму представнику</li>
        <li> Оглянути зовнішній вигляд та цілісність заводської упаковки</li>
        <li> Оглянути всі скляні елементи (зокрема і дзеркала) щодо цілісності (сколи, тріщини, подряпини тощо.)</li>
        <li> Оглянути всі фасади, на предмет різних дефектів (подряпини, сколи тощо)</li>
        <li> Перевірити комплектацію товару, колір, наповнення, кількість тощо. згідно бланку замовлення. Заміна вищезгаданих деталей після прийняття товару (меблів) відбувається за рахунок замовника.</li>
        <li> Зберегти всі документи, надані Вам нашою компанією.</li>


    </ul>


</div>
{% endblock %}















Наш интернет-магазин сотрудничает только с теми производителям, которые тщательно следят за качеством своих изделий. Но в редких случаях, к сожалению, случается и такое, что товар, приобретенный в магазине, все-таки изготовлен с дефектами или поврежден в процессе транспортировки. В таких случаях на помощь покупателю приходит гарантия, которая предоставляется на весь ассортимент нашего магазина. На этой странице мы расскажем, что нужно делать, чтобы максимально обезопасить себя от подобных случаев.
При получении товара. Вне зависимости от выбранного Вами способа доставки, есть несколько обязательных действий, которые нужно выполнить при получении товара перед тем, как поставить подпись принятия доставки на накладной: