{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Возврат
{% endblock %}

{% block content %}
<div class="container">
  <h1>Страница "Возврата"</h1>
  <p>
Наш интернет-магазин сотрудничает только с теми производителям, которые тщательно следят за качеством своих изделий. Но в редких случаях, к сожалению, случается и такое, что товар, приобретенный в магазине, все-таки изготовлен с дефектами или поврежден в процессе транспортировки. В таких случаях на помощь покупателю приходит гарантия, которая предоставляется на весь ассортимент нашего магазина. На этой странице мы расскажем, что нужно делать, чтобы максимально обезопасить себя от подобных случаев.
</p>
    <p>
При получении товара. Вне зависимости от выбранного Вами способа доставки, есть несколько обязательных действий, которые нужно выполнить при получении товара перед тем, как поставить подпись принятия доставки на накладной</p>
    <h3>Нужно:</h3>
    <ul>
        <li>Присутствовать при приеме товара лично или передать такое право своему представителю</li>
        <li>Осмотреть внешний вид и целостность заводской упаковки</li>
        <li>Осмотреть все стеклянные элементы (в том числе и зеркала) на предмет целостности (сколы, трещины, царапины и т.п.)</li>
        <li>Осмотреть все фасады, на предмет различных дефектов (царапины, сколы и т.п.)</li>
        <li>Проверить комплектацию товара, цвет, наполнение, количество и т.п. согласно бланка заказа. Замена вышеперечисленных деталей после принятия товара (мебели), происходит за счёт заказчика.</li>
        <li>Сохранить все документы, предоставленные Вам нашей компанией.
            Только после того, как вы удостоверились в надлежащем качестве и состоянии доставленных изделий,
            подписывайте документы о принятии доставки. В противном случае свяжитесь с нами по одному из указанных
            телефонов, и наш гарантийный отдел поможет Вам решить сложившуюся ситуацию.</li>


    </ul>


</div>
{% endblock %}















Наш интернет-магазин сотрудничает только с теми производителям, которые тщательно следят за качеством своих изделий. Но в редких случаях, к сожалению, случается и такое, что товар, приобретенный в магазине, все-таки изготовлен с дефектами или поврежден в процессе транспортировки. В таких случаях на помощь покупателю приходит гарантия, которая предоставляется на весь ассортимент нашего магазина. На этой странице мы расскажем, что нужно делать, чтобы максимально обезопасить себя от подобных случаев.
При получении товара. Вне зависимости от выбранного Вами способа доставки, есть несколько обязательных действий, которые нужно выполнить при получении товара перед тем, как поставить подпись принятия доставки на накладной: