{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Доставка
{% endblock %}

{% block content %}
<div class="container">
  <h1>Доставка</h1>
  <p>
Вартість доставки інтернет замовлення залежить від ваги та габаритних розмірів товару. Точну вартість ви можете побачити, оформивши інтернет замовлення та вибравши місто, куди необхідно здійснити доставку. Доставка товару з габаритними розмірами понад 3 метри узгоджується індивідуально.</p>
    <p>
При оформленні доставки інтернет замовлення можна вибрати один із наступних тимчасових інтервалів: з 9:00 до 15:00 з 15:00 до 20:00. Послуга доступна щодня з 9:00 до 20:00 для товарів вагою до 1500 кг, за умови, що транспортні габарити не перевищують (довжина-3м, ширина-2м; висота-2м). Вартість доставки залежить від - великої ваги та адреси доставки </p>
      <p>Розвантаження товару дома доставки під борт автомобіля до 300 кг. входить у вартість інтернет замовлення. Якщо фізична вага однієї одиниці товару вбирається у 100 кг. Якщо проїзд до місця розвантаження утруднений, доставка буде здійснена максимально близько до місця передбачуваного розвантаження без порушення правил дорожнього руху та ймовірності пошкодження автомобіля. Якщо вага інтернет замовлення більше 300 кг, то розвантаження товару на місці доставки під борт автомобіля розраховується за тарифом послуги підйом на поверх.</p>
</div>
{% endblock %}





