{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Доставка
{% endblock %}

{% block content %}
<div class="container">
  <h1>Страница "доставка"</h1>
  <p>
  Стоимость доставки интернет заказа зависит от веса и габаритных размеров товара. Точную стоимость Вы можете увидеть, оформив интернет заказ и выбрав город, куда необходимо осуществить доставку. Доставка товара с габаритными размерами более 3 метров согласовывается индивидуально.
</p>
    <p>
    При оформлении доставки интернет заказ можно выбрать один из следующих временных интервалов: с 9:00 до 15:00 с 15:00 до 20:00. Услуга доступна ежедневно с 9:00 до 20:00 для товаров весом до 1500 кг при условии, что транспортные габариты не превышают (длина-3м, ширина-2м; высота-2м). Стоимость доставки зависит от - Большего веса и адреса доставки
 </p>
      <p>Разгрузка товара на месте доставки под борт автомобиля до 300 кг. входит в стоимость интернет заказа. Если физический вес одной единицы товара не превышает 100 кг. Если проезд к месту разгрузки затруднен, доставка будет осуществлена   максимально близко к месту предполагаемого выгрузки без нарушения ПДД и вероятности повреждения автомобиля. Если вес интернет заказа больше 300 кг., то разгрузка товара на месте доставки под борт автомобиля рассчитывается по тарифу услуги подъем на этаж.
</p>
</div>
{% endblock %}





