{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Гарантийное обслуживание
{% endblock %}

{% block content %}


<div class="container">
  <h1>Гарантийное обслуживание</h1>
  <p>
  В нашем интернет-магазине действует гарантия от производителя. При условии правильной эксплуатации в нормальных условиях в течении гарантийного срока мы бесплатно устраним производственные дефекты, а в случае, если дефект невозможно устранить – заменим бракованную деталь. Сроки выполнения гарантийного обслуживания устанавливаются производителем.</p>
    Мы всегда стараемся идти на встречу покупателю, но существуют случаи, когда мы можем отказать в гарантийном обслуживании, если:
    <p>


  <ul>

    <li>Истек гарантийный срок</li>
    <li>Присутствуют cлучайные повреждения и дефекты, причиненные клиентом или третьим лицом.</li>
    <li>Изделие повреждено в результате стихийных бедствий (природных явлений).</li>
    <li>Повреждения, возникли вследствие небрежного отношения или использования (несоблюдение температурного режима, чрезмерная нагрузка, воздействие жидкости, запыленности, механическое повреждение)</li>
    <li>Повреждения, были вызваны использованием товара с нарушением правил эксплуатации конкретно данного изделия</li>
    <li>Если товар заносился и устанавливался заказчиком самостоятельно или третьими лицами, а не специалистами нашего магазина (за исключениями случаев явного фабричного брака)</li>
    <li>Товары, выполнялись и привозились под индивидуальный заказ</li>
    <li>Товар был собран, или поврежденная деталь была установлена</li>
    <li>Не сохранена упаковка или заводские бирки/наклейки</li>
</ul>
<p>
    Возврат товара
Мы действуем на основании закона о защите прав потребителей, который дает вам возможность возвратить товар в течение 14 дней со дня покупки. Поскольку DIVANCHIK.UA ориентирована на доставку товаров по всей Украине, мы начинаем считать это время не со дня заказа и оплаты товара, а со дня фактического получения вами товара на почте или со дня доставки. Для этого вам понадобится, конечно, иметь на руках документ почты (накладную), где будет указана дата выдачи посылки.
</p>

</div>
{% endblock %}


