{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Гарантийное обслуживание
{% endblock %}

{% block content %}


<div class="container">
  <h1>Гарантійне обслуговування</h1>
  <p>
  У нашому інтернет магазині діє гарантія від виробника. За умови правильної експлуатації в нормальних умовах протягом гарантійного терміну ми безкоштовно усунемо виробничі дефекти, а якщо дефект неможливо усунути – замінимо браковану деталь. Терміни виконання гарантійного обслуговування встановлюються виробником.
    <p>
*Ми завжди намагаємося йти на зустріч покупцеві, але існують випадки, коли ми можемо відмовити у гарантійному обслуговуванні, якщо:

  <ul>

    <li>Сплив гарантійний термін</li>
    <li>Існують випадкові пошкодження та дефекти, заподіяні клієнтом або третьою особою.</li>
    <li>Виріб пошкоджено внаслідок стихійних лих (природних явищ).</li>
    <li>Пошкодження, що виникли внаслідок недбалого відношення або використання (недотримання температурного режиму, надмірне навантаження, вплив рідини, запиленості, механічне пошкодження)</li>
    <li>Пошкодження були викликані використанням товару з порушенням правил експлуатації конкретно даного виробу</li>
    <li>Якщо товар заносився та встановлювався замовником самостійно або третіми особами, а не фахівцями нашого магазину (за винятком випадків явного фабричного браку)</li>
    <li>Товари, що виконувалися та привозилися під індивідуальне замовлення</li>
    <li>Товар був зібраний, або пошкоджена деталь була встановлена</li>
    <li>Не збережена упаковка або заводські бирки/наклейки</li>
</ul>
<p>
    Повернення товару
Ми діємо на підставі закону про захист прав споживачів, який дає можливість повернути товар протягом 14 днів з дня покупки. Оскільки DIVANCHIK.UA орієнтована на доставку товарів по всій Україні, ми починаємо рахувати цей час не з дня замовлення та оплати товару, а з дня фактичного отримання вами товару поштою або з дня доставки. Для цього вам знадобиться, звичайно, мати на руках документ пошти (накладну), де буде вказано дату видачі посилки.
</p>

</div>
{% endblock %}


